@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&family=Nunito:wght@300;500;600;700;800&family=Poppins:wght@300;400display=swap');

$nunito:'Nunito', sans-serif;
$montserrat:'Montserrat', sans-serif;
$poppins:'Poppins', sans-serif;

.strong{
  font-weight:700;
}

